LANDING_BOT_TOKEN=8848628022:AAHHUW922SKVmJbdCwZFd49rwXZYePOAzYI
LANDING_ADMIN_ID=8797858167
LANDING_DB_PATH=landing_bot.db
INSTANCE_ROOT=instances
TEMPLATE_ROOT=px9v_template
MASTER_INSTANCE_KEY=replace_with_a_long_random_secret
REVOKE_DELETE_FILES=true
